*{
    margin: 0;
    padding: 0;
    font-family: 'Convergence',sans-serif;
   
}
.hero{
 background: #2c3e50;
 position: fixed;  
 width:100%; 
 height: 100%;
 color: #fff;
}
.head{
    background-color: #059478;
    position: absolute;
    height: 6rem;
    width: 100%;
}
.chuc_nang{
    cursor: pointer;
    display: inline;
    position: absolute;
    margin-left: 5rem;
    top:3rem;
    left:10rem;
    font-size:18px;
}
.chuc_nang_con{
    display:inline;
    position: relative;
    margin-left:5rem;
}
.chuc_nang:hover{
    text-decoration: underline ;
}
#logo{
    position: absolute;
    top:1em;
    left:7em;
    width:3rem;
}
#giua{
    position: absolute;
    top:12rem;
    left:42rem;
    height:42rem;
    opacity: 7%;
}
.luu_y{
    display: absolute;
    left:30rem;
}
.chu_thich{
    position: absolute;
    width: 100%;
    top:45rem;
    left:40rem;
}
l{
    display: block;
    margin: 1rem 0.5rem;
}
.vd{
    display: list-item;
    position: relative;
    left: 2em;
}
    .form{
        position: absolute;
        top:33rem;
        left: 40rem;
        width:50rem;
        
    }
    .lady{
        position: absolute;
        height: 23rem;
        top:-21.5rem;
        left:8rem;
    }
    .canbangbutton{
        display: block;
        background: #1C80B7;
        border: 2px solid grey;
        color: white;
        height: 40px;
        width: 5rem;
        position: absolute;
        top: 4rem;
        left:14em;
        border-radius: 10px;
        outline: 0;
        cursor: pointer;
    }
    .lam_moi_button{
        display: block;
        background-color: #059478;
        color:white;
        height: 40px;
        width: 5rem;
        position: absolute;
        top: 4rem;
        left: 25em;
        border-radius: 10px;
        border: 2px solid grey;
        outline: 0;
        cursor: pointer;
    }
    .pthh__input{
    position: absolute;
    background-color: #e5f3f4;
    color: black;
    padding: 9px;
    width: 40rem;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    }  
    #ketqua{
        
        position: absolute;
        background:none;
        top: 8em;
        padding: 9px;
        width: 38.5rem;
        border: 2px solid gray;
        border-radius: 10px;
        font-size: inherit;
        font-family: inherit;
        color: white;
        outline: none;
    }
    .pthh__input:hover{
        border-color: lightskyblue;
    }
    .pthh__label{
    display: inline-block;
    position: absolute;
    
    left: 0.5rem;
    top: -1.1rem;
    padding: 0 0.5rem;
    color:white;
    cursor: text;
    transition: top 200ms ease-in,left 200ms ease-in,font-size 200ms ease-in;
    }
    .pthh__input:focus ~ .pthh__label
    ,.pthh__input:not(:placeholder-shown).pthh__input:not(:focus) ~ .pthh__label {
        top: -1.2rem;
        left:0.7rem;
        font-size: 0.9rem;
    }