*{
    margin: 0;
    padding: 0;
    font-family: 'Convergence',sans-serif;
    font-size: 1.1rem;
   
}
body{
    background-color:#2c3e50;
}
.hero{
 background: #2c3e50;
 position: absolute;  
 width:100%; 
 height: 100%;
 color: #fff;
width: 100%;
}
.head{
    background-color: #059478;
    position: absolute;
    height: 6rem;
    width: 130rem;
}
    #logo{
        position: absolute;
        width: 50rem;
        top:1.5rem;
        left:4em;
        width:3rem;
    }
.chuc_nang{
    cursor: pointer;
    display: inline;
    position: absolute;
    margin-left: 5rem;
    top:3rem;
    left:10rem;
    font-size:18px;
}
.chuc_nang_con{
    display:inline;
    position: relative;
    margin-left:5rem;
}
.chuc_nang_con:hover{
    text-decoration: underline ;
}
.center{
    width:40%;
    height: 100%;
    margin:auto;
    top:-7rem;

}

.chu_thich{
    position: absolute;
    width: 42rem;
    height: 10%;
    top:45rem;
    margin:1rem 5rem;
 
}
.luu_y{
    display: absolute;
    
}
l{
    display: block;
    margin: 1rem;
    font-size: 1rem;
}
    #logo_giua{
        position: absolute;
        top:12rem;
        margin-left: 7.5rem;
        height:42rem;
        opacity: 7%;
    }
    .form{
        position: absolute;
        margin-left: 5rem;
       width: 50%;
       height: 100%;
       top:33rem;
        
    }
    .lady{
        position: absolute;
        height: 23rem;
        top:-21.5rem;
        left:8rem;
    }
    .canbangbutton{
        display: block;
        background: #1C80B7;
        border: 2px solid grey;
        color: white;
        height: 3rem;
        width: 6rem;
        position: absolute;
        top: 4rem;
        margin:0 14rem;
        border-radius: 10px;
        outline: 0;
        font-size: 1.1rem;
        cursor: pointer;
    }
    .lam_moi_button{
        background-color: #059478;
        color:white;
        height: 3rem;
        width: 6rem;
        font-size: 1.1rem;
        position: absolute;
        top: 4rem;
        margin: 0 24rem;
        border-radius: 10px;
        border: 2px solid grey;
        outline: 0;
        cursor: pointer;
    }
    .pthh__input{
    position: absolute;
    background-color: #e5f3f4;
    color: black;
    padding:0.7rem;
    width: 40rem;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    }  
    #ketqua{
        
        position: absolute;
        background-color: #e5f3f4;

        top: 8rem;
        padding: 0.7rem;
        height: 1.1rem;
        width: 38.5rem;
        border: 2px solid gray;
        border-radius: 10px;
        font-size: inherit;
        font-family: inherit;
        color:black;
        outline: none;
    }
    .pthh__input:hover{
        border-color: lightskyblue;
    }
    .pthh__label{
    display: inline-block;
    position: absolute;
    
    left: 0.5rem;
    top: -1.1rem;
    padding: 0 0.5rem;
    color:white;
    cursor: text;
    transition: top 200ms ease-in,left 200ms ease-in,font-size 200ms ease-in;
    }
    .ketqua__label{
        display: inline-block;
        position: absolute;
        
        left: 0.5rem;
        top: 6.9rem;
        padding: 0 0.5rem;
        color:white;
        cursor: text;
        transition: top 200ms ease-in,left 200ms ease-in,font-size 200ms ease-in;
        }
    .pthh__input:focus ~ .pthh__label
    ,.pthh__input:not(:placeholder-shown).pthh__input:not(:focus) ~ .pthh__label {
        top: -1.2rem;
        left:0.7rem;
        font-size: 0.9rem;
    }

    